<div class="container" style="padding: 20px">
  <div class="row">
    <div class="mx-auto">
      <h1>プラン詳細</h1>
    </div>
  </div>

  <div class="row" style="margin: 20px">
    <div class="mx-auto">
      <table cellpadding="5">
        <tr>
          <td>プラン名</td>
          <td><%= @plan.plan_name %></td>
        </tr>
        <tr>
          <td>プレイ人数</td>
          <td><%= @plan.player %>人</td>
        </tr>
        <tr>
          <td>料金</td>
          <td>¥<%= @plan.price %></td>
        </tr>
        <tr>
          <td>ラウンド数</td>
          <td><%= @plan.round_i18n %></td>
        </tr>
        <tr>
          <td>昼食</td>
          <td>¥<%= @plan.lunch_i18n %></td>
        </tr>
        <tr>
          <td>カート</td>
          <td><%= @plan.cart_i18n %></td>
        </tr>
        <tr>
          <td>キャディー</td>
          <td><%= @plan.caddy_i18n %></td>
        </tr>
        <tr>
          <td>宿泊</td>
          <td><%= @plan.lodging_i18n %></td>
        </tr>

        <tr>
          <td><%= button_to '予約画面へ',  new_plan_reserf_path(@plan), method: :get %></td>
        </tr>

      </table>
    </div>
  </div>
</div>