<div class="container" style="padding: 20px">
  <div class="row">
    <div class="mx-auto">
      <h1>レストランメニュー</h1>
    </div>
  </div>
  <div class="row">
    <% @menus.each do |menu| %>
    <div style="margin: 5px">
      <div class="card shadow-sm">
        <div class="card-body">
          <%= link_to menu_path(menu.id) do %>
            <% if menu.image.attached? %>
              <%= image_tag menu.image, size: "200x200" %>
            <% else %>
              <%= image_tag asset_path('no_image.jpg'), size: "200x200" %>
            <% end %>
          <% end %>
          <div class="card-title">
            <%= menu.name %>
          </div>
          <div class="card-title">
            ¥<%= menu.add_tax_price.to_s(:dalimited) %> (税込)
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>