<div class="container" style="padding: 20px">
  <div class="row">
    <div class="mx-auto">
      <h1>メニュー詳細</h1>
    </div>
  </div>
  <div class="row">
    <div class="mx-auto">
      <div style="margin: 50px">
        <% if @menu.image.attached? %>
          <%= image_tag @menu.image, size: "400x400" %>
        <% else %>
          <%= image_tag asset_path('no_image.jpg'), size: "400x400" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="mx-auto">
      <div class="col">
        <%= @menu.name %>
        ¥<%= @menu.add_tax_price.to_s(:dalimited) %> (税込)
      </div>
      <div class="col">
        <%= @menu.menu_genre.name %>
      </div>
      <div class="col">
        <% if @menu.is_active == true %>
          販売中
        <% else %>
          販売停止中
        <% end %>
      </div>
    </div>
  </div>
</div>
