<div class="container" style="padding: 20px">
  <div class="row">
    <div class="mx-auto">
      <h1>配送先登録/一覧</h1>
    </div>
  </div>

  <%= render 'form', address: @address, url: addresses_path, submit: '新規登録' %>

  <div class="row" style="margin: 50px">
    <div class="mx-auto">
      <table cellpadding="5">
        <thead>
          <tr>
            <th>郵便番号</th>
            <th>住所</th>
            <th>宛名</th>
          </tr>
        </thead>
        <tbody>
          <% @addresses.each do |address| %>
            <tr>
              <td>
                <%= address.postal_code %>
              </td>
              <td>
                <%= address.destination %>
              </td>
              <td>
                <%= address.name %>
              </td>
              <td>
                <%= button_to "編集する",  edit_address_path(address.id), method: :get %>
              </td>
              <td>
                <%= button_to "削除する", address_path(address.id), method: :delete %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row" style="margin: 20px">
    <div class="mx-auto">
      <%= paginate @addresses %>
    </div>
  </div>
</div>