<div class="container" style="padding: 20px">
  <div class="row">
    <div class="mx-auto">
      <h1>注文履歴一覧</h1>
    </div>
  </div>

<div class="row" style="margin: 20px">
    <div class="mx-auto">
      <table cellpadding="5">
        <thead>
          <tr>
            <th>注文日</th>
            <th>配送先</th>
            <th>注文商品</th>
            <th>支払金額</th>
            <th>ステータス</th>
            <th>注文詳細</th>
          </tr>
        </thead>
        <tbody>
          <% @orders.each do |order| %>
            <tr>
              <td><%= order.created_at.strftime('%Y/%m/%d') %></td>
              <td>〒<%= order.postal_code %></td>
　　　        <td><%= order.destination %></td>
　　　        <td><%= order.name %></td>
              </td>
              <td>
                <% order.order_details.each do |order_detail| %>
                  <%= order_detail.item.name %>
                <% end %>
              </td>
              <td>¥<%= order.grand_total %></td>
              <td><%= order.status_i18n %></td>
              <td><%= button_to "表示する", order_path(order.id), method: :get %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row" style="margin: 20px">
    <div class="mx-auto">
      <%= paginate @orders %>
    </div>
  </div>
</div>