<div class="container" style="padding: 20px">
  <div class="row">
    <div class="mx-auto">
      <h1>予約情報確認</h1>
    </div>
  </div>

  <div class="row" style="margin: 20px">
    <div class="mx-auto">
      <%= form_with model: @reserf, url: complete_path do |f| %>
        <table cellpadding="5">
          <tr>
            <td>プラン名</td>
            <td><%= @plan.plan_name %></td>
          </tr>
          <tr>
            <td>プレイ人数</td>
            <td><%= @plan.player %>人</td>
          </tr>
          <tr>
            <td>料金</td>
            <td>¥<%= @plan.price %></td>
          </tr>
          <tr>
            <td>ラウンド数</td>
            <td><%= @plan.round_i18n %></td>
          </tr>
          <tr>
            <td>昼食</td>
            <td>¥<%= @plan.lunch_i18n %></td>
          </tr>
          <tr>
            <td>カート</td>
            <td><%= @plan.cart_i18n %></td>
          </tr>
          <tr>
            <td>キャディー</td>
            <td><%= @plan.caddy_i18n %></td>
          </tr>
          <tr>
            <td>宿泊</td>
            <td><%= @plan.lodging_i18n %></td>
          </tr>
          <tr>
            <td>開始日時</td>
            <td><%= @reserf.start.strftime("%Y/%m/%d %H:%M") %></td>
          </tr>

          <%= f.hidden_field :plan_id, :value => @plan.id %>
          <%= f.hidden_field :customer_id, :value => current_customer.id %>
          <%= f.hidden_field :start %>

          <tr>
            <td><%= f.submit '予約完了画面へ' %></td>
          </tr>
        </table>
      <% end %>
    </div>
  </div>
</div>