<div class="container" style="padding: 20px">
  <div class="row">
    <div class="mx-auto">
      <h1>予約情報入力</h1>
    </div>
  </div>
  <div class="row" style="margin: 20px">
    <div class="mx-auto">
      <%= form_with model: @reserf, url: reserves_confirm_path do |f| %>
        <table cellpadding="5">

          <%= render 'table', reserf: @reserf %>

          <tr>
            <td><%= f.label :start, "開始日時" %></td>
            <td><%= f.datetime_select :start, {}, class: 'form-control', style: 'display: inline-block;width: auto;' %></td>
          </tr>
          <%= f.hidden_field :plan_id, :value => @plan.id %>
          <%= f.hidden_field :customer_id, :value => current_customer.id %>
        </table>
    </div>
  </div>

  <div class="row" style="margin: 20px">
    <div class="mx-auto">
      <%= f.submit '予約確認画面へ' %>
      <% end %>
    </div>
  </div>
</div>
