<h1>プラン詳細</h1>
<%= form_with model: @reserf, url: reserves_path do |f| %>
<table>
    <tr>
      <td>プラン名</td>
      <td><%= @plan.plan_name %></td>
    </tr>
    <tr>
      <td>プレイ人数</td>
      <td><%= @plan.player %>人</td>
    </tr>
    <tr>
      <td>料金</td>
      <td>¥<%= @plan.price %></td>
    </tr>
    <tr>
      <td>ラウンド数</td>
      <td><%= @plan.round_i18n %></td>
    </tr>
    <tr>
      <td>昼食</td>
      <td>¥<%= @plan.lunch_i18n %></td>
    </tr>
    <tr>
      <td>カート</td>
      <td><%= @plan.cart_i18n %></td>
    </tr>
    <tr>
      <td>キャディー</td>
      <td><%= @plan.caddy_i18n %></td>
    </tr>
    <tr>
      <td>宿泊</td>
      <td><%= @plan.lodging_i18n %></td>
    </tr>
    <tr>
      <td><%= f.label :start, "開始日時" %></td>
      <td><%= f.text_field :start %></td>
    </tr>
    <%= f.hidden_field :plan_id, :value => @plan.id %>
    <%= f.hidden_field :customer_id, :value => current_customer.id %>
    <tr>
      <td><%= f.submit '予約確認画面へ' %></td>
    </tr>
</table>
<% end %>
