<h1>料理ジャンル編集</h1>

<% if @menu_genre.errors.any? %>
  <%= @menu_genre.errors.count %>件のエラーが発生しました
  <ul>
    <% @menu_genre.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @menu_genre, url: admin_menu_genre_path(@menu_genre.id) do |f| %>
 <%= f.text_field :name %>
 <%= f.submit '編集する' %>
<% end %>