<div class="container" style="padding: 20px">
  <div class="row">
    <div class="mx-auto">
      <h1>料理ジャンル一覧・追加</h1>
    </div>
  </div>

  <% if @menu_genre.errors.any? %>
    <div class="row" style="margin: 20px">
      <div class="mx-auto">
        <div class="alart">
          <%= @menu_genre.errors.count %>件のエラーが発生しました
          <ul>
            <% @menu_genre.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  <% end %>

<div class="row" style="margin: 20px">
    <div class="mx-auto">
      <%= form_with model: @menu_genre, url: admin_menu_genres_path do |f| %>
        <%= f.text_field :name %>
        <%= f.submit '新規登録' %>
      <% end %>
      <table cellpadding="5">
        <% @menu_genres.each do |menu_genre| %>
          <tr>
            <td><%= menu_genre.name %></td>
            <td><%= button_to "ジャンル編集", edit_admin_menu_genre_path(menu_genre.id), method: :get %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>

  <div class="row" style="margin: 20px">
    <div class="mx-auto">
      <%= paginate @menu_genres %>
    </div>
  </div>
</div>