<h1>商品詳細</h1>
<%= form_with model: @cart_item, url: cart_items_path do |f| %>
<table>
  <thead>
    <tr>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <% if @item.image.attached? %>
          <%= image_tag @item.image, size: "200x200" %>
  　　  　<% else %>
    　　    <%= image_tag 'no_image', size: "200x200" %>
  　　  　<% end %>
      </td>
    </tr>
    <tr>
      <td><%= @item.name %></td>
    </tr>
    <tr>
      <td><%= @item.item_genre_id %></td>
    </tr>
    <tr>
      <td><%= @item.introduction %></td>
    </tr>
    <tr>
      <td>¥<%= @item.add_tax_price.to_s(:dalimited) %> (税込)</td>
    </tr>
    <tr>
      <td>
        <% if @item.is_active == true %>
        販売中
        <% else %>
        販売停止中
        <% end %>
      </td>
    </tr>

    <% if customer_signed_in? %>
      <%= f.hidden_field :item_id, :value => @item.id %>
      <tr>
        <td><%= f.select :amount, *[1..10] %></td>
      </tr>
      <%= f.hidden_field :customer_id, :value => current_customer.id %>
      <tr>
        <td><%= f.submit 'カートに入れる' %></td>
      </tr>
    <% else %>
    <% end %>
  </tbody>
</table>
<% end %>