<div class="container" style="padding: 20px">
  <div class="row">
    <div class="mx-auto">
      <h1>商品ジャンル編集</h1>
    </div>
  </div>

  <% if @item_genre.errors.any? %>
    <div class="row" style="margin: 20px">
      <div class="mx-auto">
        <div class="alart">
          <%= @item_genre.errors.count %>件のエラーが発生しました
          <ul>
            <% @item_genre.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  <% end %>

  <div class="row" style="margin: 20px">
    <div class="mx-auto">
      <%= form_with model: @item_genre, url: admin_item_genre_path(@item_genre.id) do |f| %>
        <%= f.text_field :name %>
        <%= f.submit '編集する' %>
      <% end %>
    </div>
  </div>
</div>